*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navs a{
    color: white;
    margin-top: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    letter-spacing: 1px;
}
.navs a:hover{
  color: crimson;
  
}
.navs{
    font-weight: 700;
}
.cards{
    width: 100%;
}
.cards .card img{
    height: 40vh;
}
.cards .card{
    width: 70%;
    margin-top: 1%;
    /* height: 40vh; */
}
.cards .card-header{
    color: #1c1852;
}
#ml{
    margin-left: 15%;
    height: 34vh;
}
#sl{
    margin-top: 1%;
    width: 100%;
   justify-content: space-around;
}
.cards .head{
    width: 100%;
    text-align: center;
    margin-top: 1%;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cards .head h1{
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: 2px 2px 5px crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card p{
    margin-top: 1%;
    font-size: large;
}
.skills{
    display: flex;
}
.cards .card-header{
    padding: 0;
    text-align: center;
    height: 7vh;
    padding-top: 5%;
    font-size: larger;
    color:black;
}
.cards .card-body i{
    font-size: 100px;
    width: 100%;
    text-align: center;
}
.bg{ 
    height: 90vh;
    width: 100%;
}
.card-body{
    /* background-color:lightblue; */
    /* border-radius: 10px; */
}
.card{
    border-radius: 20px;
    background-color:#383838;
    /* transition: 0.5s; */
    box-shadow: 0 0 15px 0 steelblue;
    /* border:2px solid lightseagreen; */
    color:black;
}
.card:hover{
    /* transform: scale(1.05); */
    
}
body {
    margin: auto;
    font-family: 'Dosis', sans-serif;
    background-image: url(/Images/pexels-little-visuals-1954.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    /* overflow: auto;
    background: linear-gradient(315deg, rgb(121, 201, 132) 3%,rgb(70, 126, 115) 68%,rgb(120, 165, 209) 38%, rgb(201, 209, 207) 98%);
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed; */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} */

/* <----------------------About page responsive----------------------------> */
@media(max-width:1250px){
    #ml{
        height: 38vh;
    }
  }
  @media(max-width:1150px){
    #ml{
        height: 41vh;
    }
  }
  @media(max-width:1100px){
    #ml{
        height: 34vh;
    }
    .card p{
        margin-top: 0%;
        font-size: medium;
    }
  }
  @media(max-width:1000px){
    #ml{
        height: 38vh;
    }
  }
@media(max-width:950px){
    #ml{
        height: 35vh;
        width: 80%;
        margin-left: 10%;
    }
  }
@media(max-width:950px){
    #sl{
        flex-direction: column;
        align-items: center;
    }
    #ml{
        height: 40vh;
    }
}
@media(max-width:800px){
#ml{
    height: 43vh;
}
}
@media(max-width:650px){
#ml{
    height: 48vh;
}
}
@media(max-width:600px){
#ml{
    height: 54vh;
}
}
@media(max-width:550px){
#ml{
    height: 60vh;
}
}
@media(max-width:500px){
#ml{
    height: 63vh;
}
}
@media(max-width:450px){
#ml{
    height: 68vh;
}
}
@media(max-width:400px){
#ml{
    height: 70vh;
}
}
@media(max-width:370px){
#ml{
    height: 75vh;
}
}
@media(max-width:350px){
#ml{
    height: 82vh;
}
}
@media(max-width:330px){
#ml{
    height: 88vh;
}
}
@media(max-width:310px){
#ml{
    height: 92vh;
}
}
@media(max-width:300px){
#ml{
    height: 100vh;
}
}